.DS_Store
#app/tmp

app/tmp/*
!app/tmp/cache

app/tmp/cache/*
!app/tmp/cache/.gitignore
!app/tmp/cache/models
!app/tmp/cache/persistent
!app/tmp/cache/rss

app/tmp/cache/models/*
!/app/tmp/cache/models/.gitignore

app/tmp/cache/persistent/*
!/app/tmp/cache/persistent/.gitignore

app/tmp/cache/rss/*
!/app/tmp/cache/rss/.gitignore


app/webroot/documents
app/webroot/img/imagecache
app/config/database.php

# CakePHP 3

/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*

*.code-workspace
